@model dynamic
@{
	ViewBag.Title = "Index";
}
<h2>Index</h2>
<table>
	<tr>
		<th>Content </th>
		<th>Value </th>
	</tr>
	@foreach (var item in Model)
 {
		<tr>
			<td>
				@try
	{
					<span>@item.Content</span>
	}
	catch { }
			</td>
			<td>
				@try
	{
					<span>@item.Value</span>
	}
	catch
	{
	}
			</td>
		</tr>
 }
</table>
