<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="5fc2ee54-0502-4658-9d90-165b82b4b874"
            Publisher="CN=Jacob Reimers"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Linq2Rest.Reactive.WinRT.Sample</DisplayName>
    <PublisherDisplayName>Jacob Reimers</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Linq2Rest.Reactive.WinRT.Sample</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Linq2Rest.Reactive.WinRT.Sample.App">
        <VisualElements
            DisplayName="Linq2Rest.Reactive.WinRT.Sample"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Linq2Rest.Reactive.WinRT.Sample"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>